{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block script %}
<script>
function resizeCard()
            {
                var coll = document.getElementsByClassName("card3");
                let width = window.innerWidth;
                for (let i = 0; i < coll.length; i++){

                    if (width < 780)
                    {
                    coll[i].style.width = "80%";
                    }
                    else
                    {
                    coll[i].style.width = "50%";
                    }

                }
            }

            window.addEventListener("resize",resizeCard);
            window.addEventListener("load",resizeCard);
</script>
{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <div class="card card3" id="card3"><div class="card-body">
    <form action="/changepass" method="post">
        <div class="mb-3">
            <input class="search1 form-control mx-auto w-auto" id="oldpass" name="oldpass" placeholder="Type Old Password" type="password">
        </div>
        <div class="mb-3">
            <input class="search1 form-control mx-auto w-auto" id="newpass" name="newpass" placeholder="Type New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="search1 form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Retype New Password" type="password">
        </div>
        <hr>
        <button class="btn btn1" type="submit">Change Password</button>
    </form>
    </div></div></div>
{% endblock %}