{% extends "layout.html" %}

{% block title %}
    Guide
{% endblock %}

{% block main %}
<div class="jumbotron jumbotron-fluid">
    <div class="container"><hr>
      <h1 class="text display-4">Guide</h1>
      <p class="text lead">Here is everything you need to know to properly use ReLinked!</p>
      <hr>
      <ul class="text">
        <li>
            <h5 class="text">What's ReLinked ?</h5>
            <p class="text">ReLinked is a web application that lets you save any important webpage links. It gives you the ability to choose an icon for each link and change the name of the webpage. It comes with handy features like a search tab and a node functionality to group important links together.</p>
        </li>
        <li>
            <h5 class="text">What's a ReNode ?</h5>
            <p class="text">ReNode is a feature which allows the users to group links together to organize them better! Simply click on the hamburger menu (Tripple lines) near the top right. From there click on the "Create a ReNode" option.</p>
            <p class="text">Simply enter the name of the node you want to create and add the links you would like that node to have! Don't worry if you dont have any links to add right now, you can add them later from the edit link section or edit ReNode section!</p>
        </li>
        <li>
            <h5 class="text">How to save a link ?</h5>
            <p class="text">Open the hamburger menu once again and head over to "Add a link". Then simply enter the link of the website, choose the icon and a name ! You can also add it to a pre-existing node if you want! </p>
        </li>
        <li>
            <h5 class="text">Other features</h5>
            <p class="text">From the hamburger menu you can also change your password and username as well as edit your links and renodes! Click on the option you would like to select and follow the on screen instructions!</p>
            <p class="text">You also have an option to toggle on the dark mode if you want to!</p>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}